#container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  width: 60%;
  margin-top: 200px;
}
.tromme{
  padding: auto;
  text-align: center;
}
.fill1{
  grid-column: span 1;
}
.valgtTromme{
  background: red;
}
