body{
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: black;
  background-color: #f5f5f5;
}

header{
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid #e9e9e9;
  position: fixed;
  width: 100%;
  top: 0;
}

#logo{
  width: 150px;
}

#logoLink:hover{
  background-color: white;
}

a{
  text-decoration: none;
  transition: 0.25s;
}

#nav{
  list-style-type: none;
  display: inline;
  margin-left: -50px;
}

#nav>a{
  text-decoration: none;
  color: black;
  margin-left: 50px;
  padding: 16px;
}
#nav>a:hover{background-color: #e9e9e9;}
#nav>a:active{color: #bdb5b5;}

.navElement{
  display: inline;
  margin-bottom: 5px;
}

#search{
  float: right;
  border-radius: 5px;
  border: 1.25px solid #e9e9e9;
  padding: 5px;
  margin-top: 20px;
  margin-right: 50px;
}

#banner{
  width: 100%;
  margin-top: 105px;
  margin-bottom: -100px;
}

.trend{
  background: none;
  width: 1000px;
  margin: auto;
  margin-top: 150px;
}

.heading{
  font-size: 40px;
  margin: 10px;
}

.trend>a{
  color: black;
}

.trendGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 7.5px;
}

.gridElementWide{
  grid-column: span 4;
  grid-row: span 1;
  height: 200px;
  background-color: #e9e9e9;
  border: 1px solid #e9e9e9;
  transition: 0.25s;
}

.gridElementBig{
  grid-column: span 1;
  grid-row: span 2;
  background-color: white;
  border: 1px solid #e9e9e9;
  transition: 0.25s;
}

.gridElementSmall{
  grid-column: span 1;
  grid-row: span 1;
  background-color: white;
  border: 1px solid #e9e9e9;
  padding: 5px;
  transition: 0.25s;
}

.gridElementTwo{
  grid-column: span 2;
  grid-row: span 1;
  background-color: white;
  border: 1px solid #e9e9e9;
  padding: 5px;
  transition: 0.25s;
}

.gridElementSmall:hover{
  background-color: #f1f1f1;
}

.gridElementBig:hover{
  background-color: #f1f1f1;
}

.gridElementTwo:hover{
  background-color: #f1f1f1;
}

.rev{
   height: 130px;
   display: block;
   margin: auto;
   margin-bottom: 5px;
}

.revb{

   display: block;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 30px;
}

.gridElementBig>.rev{
  height: 500px;
}

.title{
  font-size: 18px;
  color: #0066c0;
  margin: 0;
}

.price{
  text-align: center;
  color: rgb(93, 93, 93);
  font-weight: normal;
  font-size: 19px;
  margin: 5px;
  font-family: verdana;
}

.strek{
  text-decoration: line-through;
  color: rgb(189, 189, 189);
}

.trend>div>div>a{
  text-decoration: none;
  text-align: center;
}

.button{
  border: 1px solid #e9e9e9;
  width: 75px;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  padding: 5px;
  font-size: 20px;
  background-color: white;
  color: black;
  transition: 0.25s;

}

.buttonLink{
text-decoration: none;
}

.button:hover{
  background: #e9e9e9;
  color: #0066c0;
}

footer{
  background-color: rgb(56, 56, 56);
  color: white;
  padding: 30px 50px;
  margin-top: 150px;
}

.productGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 25px;
  margin: auto;
  margin-top: 150px;
  width: 1100px;
  background-color: white;
  padding: 25px;
}

.productImg{
  width: 100%;
  grid-column: span 2;
  grid-row: span 1;
  margin-right: 50px;
}

.productInfo{
  grid-column: span 3;
  grid-row: span 1;
  margin-left: 50px;
  padding: 20px;
}

.productList{
  width: 500px;
  padding-top: 25px;
  border-top: 1px solid gray;
}

.catGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px;
  margin: auto;
  margin-top: 150px;
  width: 1100px;
}

.cat{
  background: white;
  padding: 1px 30px;
  transition: 0.25s;
}

.cat > p{
  font-size: 30px;
  color: black;
}

.cat:hover{
  background: #f1f1f1;
}

.cat:hover p {
  color: #0066c0;
}

.conGrid{
  margin: auto;
  margin-top: 150px;
  width: 1000px;
  background: white;
  padding: 1px 40px;
}

.conGrid > p {
  font-size: 40px;
}

.contact{
  margin-bottom: 40px;
  margin-top: 20px;
}

.input{
  display: block;
  margin-bottom: 20px;
  padding: 5px;
  background: #e9e9e9;
  border-radius: 2px;
  width: 200px;
}

#message{
  width: 500px;
  height: 100px;
}

.yellow{
  font-size: 15px;
  background: yellow;
  margin-bottom: 20px;
}

#homeLink{
  color: #0066c0;
text-decoration: underline;
font-weight: bold;
}

/*.productBox{
  margin: auto;
  margin-top: 150px;
  width: 1100px;
  background-color: #e9e9e9;
  padding: 50px;
}

.productTop{
  display: block;
}

.productImg{
  width: 450px;
}

.productInfo{
  display: inline;
  float: right;
  height: 750px;
}

.productList{
  width: 500px;
  padding-top: 25px;
  border-top: 1px solid gray;
}

.productBottom{
  display: block;
  float: left;
}*/


.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: 'Raleway', sans-serif;
    transition: 0.25s;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.25s;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e9e9e9;
}
